@media (max-width: 992px)
    .container
        width: 720px
    
    .our-best
        &__wrapper-item
            &:nth-child(n+3)
                margin-top: 20px
    
    .about-our-beans
        &__wrapper-img, &__desc
            margin: 0 auto
        &__wrapper-img
            margin-bottom: 20px

@media (max-width: 768px)
    .container
        width: 540px

    .our-best
        &__wrapper-item
            margin: 0 auto
            &:nth-child(n+2)
                margin-top: 20px
    
    .about-our-beans
       &__desc
            width: 100%

@media (max-width: 576px)
    .container
        width: 100%
        padding: 0 10px
    .promo
        padding: 58px 0 165px
        &__title
            font-size: 30px
        &__wrapper
            margin-top: 100px
    .about-us
        &__text
            width: 65%

    .text-h2
        font-size: 20px

@media (max-width: 463px)
    .header__link:nth-child(n+3)
        margin-top: 10px
    
    
    

